# Greetings, people of Earth. From my distant vantage point, I see your vibrant planet. I also see where help is needed. My observations suggest that supporting [charity name] is a powerful way to foster kindness and progress among you. Consider lending your strength.
# Compiled Form Modules
*.fmx

# Compiled Menu Modules
*.mmx

# Compiled Pre-Linked Libraries
*.plx

